/vendor
/node_modules
/storage/*.key
/storage/logs
/bootstrap/cache
/.env
/mysql
/logs
*.sql
.idea
.DS_Store
.env.backup
docker-compose.override.yml/backups/
/backups/
/backups/**
*.sql
*.sql.gz
logs/
storage/logs/